<div class="d-flex flex-column">
  <section class="d-flex flex-column gap-3">
    <section [ngClass]="{ disabled: isLoading() }">
      @for (document of documents.value(); track $index) {
      <span>Document UuId: {{ document.uuId }}</span>
      <scs-document-list-item
        [attr.data-test-value]="document.uuId"
        [document]="document"
        (delete)="deleteFile(document.uuId)"
        (updateFile)="updateFile(document.uuId, $event)"
        (updateMetadata)="updateMetadata(document.uuId, $event)"
      />
      } @empty { @if (!documents.isLoading()) {
      <span
        class="w-100 d-flex justify-content-center align-items-center text-center"
        i18n="@@document-manager.no-documents"
      >
        No documents on this entity are attached! Try using the button or drop items inside of the window itself to start the
        upload process.
      </span>
      } }
    </section>
  </section>
</div>
